body {
  background: radial-gradient(circle, #666666 0%, #555555 20%, #333333 65%, #222222 100%);
}
.App {
  text-align: center;
}

.bg-start {
  background-image: url("../public/assets/images/bg-start.png");
  background-size: cover;
  background-position: center;
}
.bg-thunder {
  background-image: url("../public/assets/images/bg-thunder.png");
  background-size: cover;
  background-position: center;
}
.bg-drizzle {
  background-image: url("../public/assets/images/bg-drizzle.png");
  background-size: cover;
  background-position: center;
}
.bg-rain {
  background-image: url("../public/assets/images/bg-rain.png");
  background-size: cover;
  background-position: center;
}
.bg-snow {
  background-image: url("../public/assets/images/bg-snow.png");
  background-size: cover;
  background-position: center;
}
.bg-atmos {
  background-image: url("../public/assets/images/bg-atmos.png");
  background-size: cover;
  background-position: center;
}
.bg-clear {
  background-image: url("../public/assets/images/bg-clear.png");
  background-size: cover;
  background-position: center;
}
.bg-clouds {
  background-image: url("../public/assets/images/bg-clouds.png");
  background-size: cover;
  background-position: center;
}

.weather-icon {
  width: 60px;
}

.forecast-icon {
  width: 40px;
}

.text-shadow {
  text-shadow: 0 0 7px white;
}

.text-footer {
  color: rgb(139, 167, 158);
  font-size: 0.85rem;
}

.brk-long-txt {
  max-width: 165px;
}

::selection {
  background-color: #85cda0;
  color: #000000;
}

.rad-gradient {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.2) 0%,
    rgb(255, 255, 255, 0.15) 50%,
    rgb(255, 255, 255, 0.03) 65%,
    rgb(255, 255, 255, 0) 100%
  );
}

.bg-input {
  background-color: rgba(255, 255, 255, 0.4);
}

.bg-input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1.5s;
}
.fade-in-background {
  animation: fadeIn 0.3s ease-in-out;
}
